<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="../static/styles/style.css" rel="stylesheet">

  <title>Movie Reviews</title>
</head>

<body>

  <nav class="navbar bg-danger align-content-center justify-content-center nav">
    <div class="container text-center">
      <a class="navbar-brand text-white align-content-sm-center" href="{{ url_for('index') }}">Movie Reviews</a>

      <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('search')}}">
        <input class="form-control mr-sm-2" type="search" placeholder="Nome do filme" aria-label="Search" id="input"
          name="name" value="{{query}}">
        <button class="btn btn-primary my-2 my-sm-0 align-content-sm-center" id="btn">Pesquisar</button>
      </form>
    </div>
  </nav>

  <div class="container mainSection" id="main">
    {% if status == 201 %}


    <div class="row info divInicial">
      <div class="col-lg-5 col-sm-12">
        <img src="{{ url_for ('static',filename='../static/styles/estrela.jpeg') }}" style="width: 80%;">
      </div>
      <div class="col-lg-7 col-sm-12">
        <div class="card border-0 cardInfo">
          <div class="card-body">
            <p class="card-text textDiv pt-5">
              Olá, somos a  Movie Reviews. Estamos aqui para te ajudar a descobrir o que estão falando sobre
              seu filme favorito. Para descobrir, basta pesquisar o nome do filme ali em cima
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}


    <!--Aqui-->
    {% if status == 200 %}
    <div class="container">

      <div class="row  row-cols-sm-2">


        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ filme.img_url }}" id="imagem" alt="Imagem de capa do filme">

            <div class="card-body">
              <p class="lead text-muted" id="titulo">{{ filme.titulo }}</p>
              <p id="genero"></p>
              <p id="data">{{ filme.data }}</p>
              <p class="card-text" id="resumo">{{ filme.resumo }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5 class="titleDiv">Comentários Twitter</h5>

    <div class="card-columns twetts">
      {% for tt in t.twetts %}

      <div class="{{ tt.cardClass }}">
            <div class="card-body">
              <h5 class="card-title"><img class="rounded-circle mr-3" style="width: 50px;height: 50px;"
                  src="{{tt.url_foto_perfil}}" /> {{ tt.username }} (@{{ tt.nickname }})</h5>
              <p class="card-text"><cite>{{ tt.conteudo }}</cite></p>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      


      {% if status == 404%}
      <div class="alert alert-danger divAlert" role="alert">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="card border-0 cardAlert">
              <div class="card-body">
                <h5 class="card-title textInvalidName">Titulo inválido!</h5>
                <p class="card-text">Filme não encontrado
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}


      <script src="../static/js/query.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>